.card-container {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    transition: all 1s;
    gap: 20px;
    animation: transit 2s ease-in-out 0s;
}

.card-container li {
    margin: 5px auto;
    width: 85%;
    list-style: none;
    cursor: pointer;
    /* height: 80%; */
}

.card-container li p {
    letter-spacing: 3px;
    line-height: 25px;
    text-shadow: 2px 2px 2px grey;
    font-size: 1.3em;
    border-width: 1;
}

.card-container li img {
    width: 75%;
    height: 35%;
    aspect-ratio: 4/3;
    max-height: 400px;
    min-height: 200px;
}

@keyframes transit {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}